main, body{
    background-color: #212121;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

@media screen and (max-width:962px) {
    .smol {
        width: 100%;
    }
}